<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="INFO_LOG" value="logs/news.log"/>
    <property name="ERROR_LOG" value="logs/error/news.log"/>

    <appender name="FILE-INFO-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${INFO_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB,
				it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-ERROR-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ERROR_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/error/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB,
				it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE-ROLLING" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p %c{1} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.clevertec" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE-ROLLING"/>
    </logger>

    <logger name="ru.clevertec" level="INFO" additivity="false">
        <appender-ref ref="FILE-INFO-ROLLING"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="FILE-ERROR-ROLLING"/>
    </root>
    <root level="ERROR">
        <appender-ref ref="CONSOLE-ROLLING"/>
    </root>

</configuration>
